@CHARSET "UTF-8";

body {
	background-image: url(/images/textures/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: black;
	/* background-image: url(/images/logos/aorangi_undulator_banner_bgline.png) ;
	background-repeat: repeat-x; */
}

header .row {
	position: relative;
}

#main {
	background-color: #dedede;
	background-image: url(/images/textures/p2.png);
	background-repeat: repeat;
	border-radius: 10px;
	padding: 1em;
}

.header-right {
	position: absolute;
	bottom: 0;
	right: 0;
}
/*
#footer {
	height: 4em;
	margin: 2em;

	font-size: 90%;
	background-color: #662d91;
	border-radius: 10px;
	color: #aaa;
}
footer div div div {
	margin-left: 1em;
}

footer .contact span {
	margin: auto auto;
}
*/
.banner_image {
	margin: auto;
	width: 35em;
}

.share-icon-col {
	/* text-align: right; */
	
}

.register-button {
	margin: .5em;
}

.navbar li {
	text-align: center;
}

#sponsors_logos {
	display: inline;
}

#blurb {
	display: inline;
	width:
}

#social_links {
	display: inline;
}

.event-date {
	color: #aaaaaa;
	font-size: 2em;
	font-weight: bold;
}

.AU {
	display: none;
}

.A100 {
	display: none;
}

.bordered-box {
	border: 2px solid gray;
	border-radius: 5px;
	padding: 1em;
	font-size: 120%;
	min-height: 3em;
}

/* Sticky footer styles
      -------------------------------------------------- */
html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -4em;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 4em;
}

#footer {
	
	font-size: 90%;
	background-color: #662d91;
	border-radius: 10px;
	color: #aaa;
	/*margin: 2em;*/
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}