@CHARSET "UTF-8";


body {
	background-image: url(/images/textures/p2.png);
	background-repeat: repeat;
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: black;
	/* background-image: url(/images/logos/aorangi_undulator_banner_bgline.png) ;
	background-repeat: repeat-x; */
}

header .row {
	position: relative;
}

.header-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

footer {
	height: 4em;
	margin: 2em;
	font-size: 90%;
	background-color: black;
	color: #aaa;
}

.banner_image {
	margin: auto;
	width: 35em;
}

.share-icon-col {
	/* text-align: right; */
	
}

.register-button {
	margin: .5em;
}

.navbar li {
	text-align: center;
}

#sponsors_logos {
	display: inline;
}

#blurb {
	display: inline;
	width:
}

#social_links {
	display: inline;
}

.event-date {
	color: #aaaaaa;
	font-size: 2em;
	font-weight: bold;
}

.AU {
	display: none;
}

.A100 {
	display: none;
}
